* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	background-color: #cacaca;
	padding: 10px;
	margin: 50px;
	height: 600px;
	display: flex;
	flex-direction: row; 
	/* column acts like block display */
	/* column reverse reverses order */
	/* row works the same, just as inline */
	justify-content: center;
	align-items: center;
	/*aligns a collection of items*/
	flex-wrap: wrap;
	align-content: space-evenly;
	
}

.item {
	background-color: red;
	color: #fff;
	font-size: 35px;
	padding: 20px;
	margin: 10px;
}

.item-10 {
	flex: 1;
}
